<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:label="@string/app_name"
        android:icon="@drawable/ic_bignum"
        android:allowBackup="false">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".BigNumExtension"
            android:exported="true"
            tools:ignore="ExportedService">
            <!-- Required for this extension to be discovered by the Karoo System -->
            <intent-filter>
                <action android:name="io.hammerhead.karooext.KAROO_EXTENSION" />
            </intent-filter>
            <!-- Required for this extension to define resources and definitions -->
            <meta-data
                android:name="io.hammerhead.karooext.EXTENSION_INFO"
                android:resource="@xml/extension_info" />
        </service>

        <!-- Provide Karoo System with information about delivery of your app -->
        <meta-data
            android:name="io.hammerhead.karooext.MANIFEST_URL"
            android:value="https://github.com/vmpg/karoo-bignum/releases/latest/download/manifest.json" />

    </application>

</manifest>
